body {
    color: white;
    padding-top: 8rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    background-image: url("../img/b38ce6.webp");
    background-size: cover;
    background-position: center;
    background-color: #0084af;
}

